<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>898592389822-ot4ssn8n1asgc27u7d2k09si94fmhf8k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898592389822-ot4ssn8n1asgc27u7d2k09si94fmhf8k</string>
	<key>API_KEY</key>
	<string>AIzaSyAFgOcNsKqTUB7flMudXYXaT0g8r2yiRlw</string>
	<key>GCM_SENDER_ID</key>
	<string>898592389822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>javier.gonzalez.escudero.freeBirdsTfg</string>
	<key>PROJECT_ID</key>
	<string>freebirds-3af34</string>
	<key>STORAGE_BUCKET</key>
	<string>freebirds-3af34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898592389822:ios:86379691df7365f5</string>
	<key>DATABASE_URL</key>
	<string>https://freebirds-3af34.firebaseio.com</string>
</dict>
</plist>